@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;700&display=swap');

.terminos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
}

.terminos-box {
    background-color: #121212;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.692);
    text-align: center;
    color: white;
    width: 550px; /* Igual a register2 */
    border: 2px solid #79e2ff; /* Borde azul */
    max-height: 80vh;
    overflow-y: auto;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.terminos-title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.terminos-text {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    color: #b3b3b3;
}

.terminos-text a {
    color: #79e2ff;
    text-decoration: none;
}

.terminos-text a:hover {
    text-decoration: underline;
}

.btn-close {
    background-color: #79e2ff;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
}

.btn-close:hover {
    background-color: #5ac2e0;
}
