/* Contenedor principal */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    top: -10px;
}

/* Caja de búsqueda */
.search-box {
    display: flex;
    align-items: center;
    background-color: #3a3a3a !important;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 320px;
    height: 32px;
    padding: 3px;
    border: 3px solid #1eaddc;
}

/* Formulario */
.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Input */
.search-input {
    flex-grow: 1;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent !important;
    color: #f0f0f0;
    text-align: center;
    height: 100%;
    line-height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* Botón de búsqueda */
.search-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1eaddc;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-left: 5px;
}

.search-button:hover {
    background-color: #007bb5;
}

/* Contenedor de los resultados de búsqueda */
.search-results {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 320px;
    background-color: #333;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    padding: 10px;
}

/* Título de cada sección */
.result-section {
    margin-bottom: 10px;
}

/* Cada ítem en los resultados */
.result-item, .playlist-item {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

/* Efecto hover para cada ítem */
.result-item:hover, .playlist-item:hover {
    background-color: #444;
}

/* Imagen de la canción y la portada de la playlist */
.search-results .result-image, .playlist-images {
    width: 45px ; /* Tamaño ajustado a 50px */
    height: 45px ;
    border-radius: 50% ;
    object-fit: cover ;
}

//* Fuente común para títulos de canciones y playlists */
.search-results .result-item p,
.search-results .playlist-item .playlist-info p {
    font-family: 'Roboto', sans-serif; /* Cambia a la fuente deseada */
    font-size: 16px; /* Asegúrate de que el tamaño de fuente sea el mismo */
    color: white; /* Mantén el color del texto */
    font-weight: bold; /* O la variante que prefieras */
}


/* Lista de resultados y la lista de playlists */
.result-list, .playlist-list {
    list-style-type: none;
    padding: 0;
}

/* Títulos de cada sección (canciones, artistas, playlists) */
.section-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
