.popup-container {
    position: relative;
    display: inline-block;
}

.popup-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-menu {
    position: absolute;
    background: #282828;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    min-width: 180px;
    z-index: 1000;
    padding: 4px 0;
    overflow: hidden;
    max-height: calc(100vh - 20px); /* Limit height to prevent overflow */
}

.popup-menu.top-left {
    bottom: calc(100% + 5px); /* Posicionar arriba del botón */
    left: 0; /* Posicionar hacia la izquierda del botón */
}

.popup-menu.top-right {
    bottom: calc(100% + 5px);
    right: 0;
}
.popup-menu .top-rights {
    bottom: calc(100% + 5px);
    right: 0;
}

.popup-menu.bottom-left {
    top: calc(100% + 5px);
    left: 0;
}

.popup-menu.bottom-right {
    top: calc(100% + 5px);
    right:0;
}

    .popup-menu.mid-left {
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 5px);
}

.popup-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-option {
    padding: 8px 16px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.popup-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.popup-option.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.popup-option-icon {
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
}

.submenu-arrow {
    font-size: 10px;
    margin-left: 8px;
}

.nested-popup {
    position: absolute;
    background: #282828;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    min-width: 180px;
    z-index: 1001;
    padding: 4px 0;
    max-height: calc(100vh - 20px); /* Limit nested menu height */
}

.nested-popup.right {
    left: 100%;
    top: 0;
    margin-left: 1px;
}

.nested-popup.left {
    right: 100%;
    top: 0;
    margin-right: 1px;
}

/* Adjust nested popup position if it would go off screen */
@media screen and (max-width: 600px) {
    .nested-popup.right {
        left: auto;
        right: 100%;
        margin-right: 1px;
        margin-left: 0;
    }
}

.nested-option {
    padding: 8px 16px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.nested-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}