.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #2e2c2c; /* Fondo deseado */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    color: white;
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background: #333;
    color: white;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-actions button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-actions button[type="submit"] {
    background-color: #0399b6;
    color: white;
}

.modal-actions button[type="button"] {
    background-color: #dd1e41;
    color: white;
}
