#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupar toda la pantalla */
  width: 100vw;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
